.stories-button{
    height:30px;
    width:30px;
    position:absolute;
    top:45%;
    left:47%;
}
.stories-list{
    height:30px;
    width:560px;
    position:absolute;
    top:35%;
    left:30%;
}
.jack{
    text-align:center;
    font-family: 'Autour One', cursive;
font-family: 'Martian Mono', monospace;
font-family: 'Pacifico', cursive;
font-family: 'Rubik', sans-serif;
font-family: 'Sofia', cursive;
}